.filters{
        background-color: white;
        height: 70px;
        width: 100%;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        position: relative;
        display: flex;
        align-items: center;
}
.filters button{
        font-size: 18px;
        background-color: #FF5A5F;
        color: #FFFFFF;
        height: 48px;
        width: 20%;
        border: none;
        position: absolute;
        right: 30px;
}
.filters button:hover{
        opacity: 0.9;
}

.locations{
        height: 100%;
        width: 25%;
        border-right: 1px solid #DDDDDD;
}

.amenities{
        height: 100%;
        width: 25%;
}

.locations h3, .amenities h3{
        font-weight: 600;
        margin: 15px auto auto 35px;

}

.locations h4, .amenities h4{
        font-weight: 400;
        font-size: 14px;
        margin: 5px auto auto 35px;
}

.popover {
        background-color: #FAFAFA;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        visibility: hidden;
        box-sizing: border-box;
        list-style: none;
        width: 100%;
}

.locations:hover ul.popover, .amenities:hover ul.popover{
        visibility: visible;
}

.popover h2 {
        font-size: 16px;
}
.popover li {
        margin: 10px 0px 5px 0px;
}

.filters .locations ul {
        padding: 0.5em 0 1em 1em;
}

.filters .locations li {
        margin: 0 0 0 5%;
}
.filters .amenities ul {
        padding: 2em 0 2em 3em;
}

.popover li.move{
        margin: 0px 0px 5px 35px;
}